{% load static %}

<html lang="en">

<head>

  {% block title %}
    <title>Hacker News ASW</title>
  {% endblock %}


  {% include 'common/metadata.html' %}
  {% include 'common/style.html' %}

</head>

<body>

<center>
  <table border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
    <tr>
      <td bgcolor="#ff6600">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
          <tr>
            <td style="width:18px;padding-right:4px">
              <a href="/">
                <img alt="Hacker new logo"
                     {% comment %} Descarga imagen {% endcomment %}
                     height="18" src="{% static '/img/y18.gif' %}"
                     style="border:1px white solid;"
                     width="18">
              </a>
            </td>
            <td style="line-height:12pt; height:10px;">
              <span class="pagetop">
                    <b class="hnname"><a href="/">Hacker News</a></b>
                    {% comment %} <a href="{% url 'new' %}">new</a> |
                    <a href="{% url 'threads' %}">threads</a> |
                    |
                    <a href="{% url 'show' %}">show</a> |{% endcomment %}
                    <a href="{% url 'new' %}">newest</a> |
                    {% if user.is_authenticated %}
                        <a href="{% url 'threads' %}"> threads </a> |
                    {% endif %}
                    <a href="{% url 'ask' %}">ask</a> |
          
                    <a href="{% url 'submit' %}">submit</a> 
              </span>
            </td>
            <td style="text-align:right;padding-right:4px;">
              <span class="pagetop">
                 {% if user.is_authenticated %}
                  <a id='me'
                     href="{% url 'profile' user_id=user.id %}">{{ user.username }}</a> 
                    |
                  ({{ user.karma }})
                  | <a id='logout' href="{% url 'logout' %}">logout</a>
                {% else %}
                  <a href="{% url 'login' %}">login</a>
                {% endif %} 
              
              </span>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr id="pagespace" style="height:10px" title=""></tr>
    <tr>
      <td>
        {% block content %}
        {% endblock %}
      </td>
    </tr>
    <tr>
      <td>
        <div style="height: 10px"></div>
        <table cellpadding="1" cellspacing="0" width="100%">
          <tr>
            <td bgcolor="#00b4b4"></td>
          </tr>
        </table>
        <br>
        <div class="center">
            <span class="yclinks">
              <a href="mailto:info@whiteboxml.com">Support</a> |
              <a href="mailto:info@whiteboxml.com">Contact</a> |
              <a rel="noopener noreferrer" target="_blank" href="">Twitter</a>
            </span><br><br>
        </div>
      </td>
    </tr>
  </table>
<center>
</body>


</html>
