<html lang="en" op="user">
  <head>
    <meta name="referrer" content="origin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="news.css?vg72xQwA6BEuenejqe3k">
    <link rel="shortcut icon" href="favicon.ico">
    <title>Profile: hao2 | Hacker News</title>
  </head>
  <body>
    <center>
      <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
        <tbody>
          <tr>
            <td bgcolor="#ff6600">
              <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
                <tbody>
                  <tr>
                    <td style="width:18px;padding-right:4px">
                      <a href="https://news.ycombinator.com">
                        <img src="y18.gif" width="18" height="18" style="border:1px white solid;">
                      </a>
                    </td>
                    <td style="line-height:12pt; height:10px;">
                      <span class="pagetop">
                        <b class="hnname">
                          <a href="news">Hacker News</a>
                        </b>
                        <a href="newswelcome.html">welcome</a> | <a href="newest">new</a> | <a href="threads?id=hao2">threads</a> | <a href="front">past</a> | <a href="newcomments">comments</a> | <a href="ask">ask</a> | <a href="show">show</a> | <a href="jobs">jobs</a> | <a href="submit">submit</a>
                      </span>
                    </td>
                    <td style="text-align:right;padding-right:4px;">
                      <span class="pagetop">
                        <a id="me" href="user?id=hao2">hao2</a> ( <span id="karma">1</span>) | <a id="logout" href="logout?auth=2d15184ce2a90b76bbec767c669cdc4e3578dcf6&amp;goto=user%3Fid%3Dhao2">logout</a>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr id="pagespace" title="Profile: hao2" style="height:10px"></tr>
          <tr>
            <td>
              <table border="0" cellpadding="0" cellspacing="0">
                <tbody>
                  <tr>
                    <td bgcolor="#ffffaa">
                      <table cellpadding="5" width="100%">
                        <tbody>
                          <tr>
                            <td>Please put a valid address in the email field, or we won't be able to send you a new password if you forget yours. Your address is only visible to you and us. Crawlers and other users can't see it. </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
              <form class="profileform" method="post" action="/xuser">
                <input type="hidden" name="id" value="hao2">
                <input type="hidden" name="hmac" value="e8f57aabd58d75d750e90ea836fbe2ce64697666">
                <table border="0">
                  <tbody>
                    <tr class="athing">
                      <td valign="top">user:</td>
                      <td timestamp="1667144212">
                        <a href="user?id=hao2" class="hnuser">
                          <font color="#3c963c">hao2</font>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td valign="top">created:</td>
                      <td>
                        <a href="front?day=2022-10-30&amp;birth=hao2">9 minutes ago</a>
                      </td>
                    </tr>
                    <tr>
                      <td valign="top">karma:</td>
                      <td> 1 </td>
                    </tr>
                    <tr>
                      <td valign="top">about:</td>
                      <td style="overflow:hidden;">
                        <textarea cols="60" rows="5" wrap="virtual" name="about"></textarea>
                        <font size="-2">
                          <a href="formatdoc" tabindex="-1">
                            <font color="#afafaf">help</font>
                          </a>
                        </font>
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>
                        <font size="2">Only admins see your email below. To share publicly, add to the 'about' box.</font>
                      </td>
                    </tr>
                    <tr>
                      <td valign="top">email:</td>
                      <td>
                        <input type="text" name="email" value="" size="60">
                      </td>
                    </tr>
                    <tr>
                      <td valign="top">showdead:</td>
                      <td>
                        <select name="showd">
                          <option>yes</option>
                          <option selected="">no</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td valign="top">noprocrast:</td>
                      <td>
                        <select name="nopro">
                          <option>yes</option>
                          <option selected="">no</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td valign="top">maxvisit:</td>
                      <td>
                        <input type="text" name="maxv" value="20" size="16">
                      </td>
                    </tr>
                    <tr>
                      <td valign="top">minaway:</td>
                      <td>
                        <input type="text" name="mina" value="180" size="16">
                      </td>
                    </tr>
                    <tr>
                      <td valign="top">delay:</td>
                      <td>
                        <input type="text" name="delay" value="0" size="16">
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>
                        <a href="changepw">
                          <u>change password</u>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>
                        <a href="submitted?id=hao2">
                          <u>submissions</u>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>
                        <a href="threads?id=hao2">
                          <u>comments</u>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>
                        <a href="hidden">
                          <u>hidden</u>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>
                        <a href="upvoted?id=hao2">
                          <u>upvoted submissions</u>
                        </a> / <a href="upvoted?id=hao2&amp;comments=t">
                          <u>comments</u>
                        </a> &nbsp; <span style="font-style:italic">(private)</span>
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>
                        <a href="favorites?id=hao2">
                          <u>favorite submissions</u>
                        </a> / <a href="favorites?id=hao2&amp;comments=t">
                          <u>comments</u>
                        </a> &nbsp; <span style="font-style:italic">(public)</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <br>
                <input type="submit" value="update">
              </form>
              <br>
              <br>
            </td>
          </tr>
        </tbody>
      </table>
    </center>
    <script type="text/javascript" src="hn.js?vg72xQwA6BEuenejqe3k"></script>
  </body>
</html>