<html lang="en">
  <head>
    <meta name="referrer" content="origin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico">
  </head>
    <br>
  <body> You have to be logged in to submit. <br>
    <br>
    <h1>Login</h1>
    <br>
    {% load socialaccount %}    <!-- > Necessario para Allauth<-->

  {% if user.is_authenticated %}
    <p>Usuario logeado como: {{ user.username }}</p>

  <form method="post" action="/accounts/logout/"> <!-- > NOTE: metodo POST a /accounts/logout/ <-->
    <input type="hidden"> {%csrf_token%}
    <button type="submit">Sign Out</button>
  </form>

  <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
  {% else %}
  <form method="post" action="submit/login">
      {%csrf_token%}
      <table border="0">
        <tr>
          <td>username:</td>
          <td>
            <input type="text" name="acct" size="20" autocorrect="off" spellcheck="false" autocapitalize="off" autofocus="true">
          </td>
        </tr>
        <tr>
          <td>password:</td>
          <td>
            <input type="password" name="pw" size="20">
          </td>
        </tr>
      </table>
      <br>
      <input type="submit" value="login">
    <a href="{% provider_login_url 'google' %}">Login With Google</a>
  </form>
  <form method="post" action="/accounts/google/login/">
    {%csrf_token%}
    <button type="submit"> Sign in with Google </button>
  </form>
  <a href="forgot">Forgot your password?</a>

  {% endif %}

    <br>
    <br>
    <H1>Create Account</H1>
    <br>
    <br>
    <form method="post" action="submit/create">
      {%csrf_token%}
      <input type="hidden" name="creating" value="t">
      <table border="0">
        <tr>
          <td>username:</td>
          <td>
            <input type="text" name="acct" size="20" autocorrect="off" spellcheck="false" autocapitalize="off">
          </td>
        </tr>
        <tr>
          <td>password:</td>
          <td>
            <input type="password" name="pw" size="20">
          </td>
        </tr>
      </table>
      <br>
      <input type="submit" value="create account">
    </form>
  </body>
</html>