<html lang="en" op="news">
  <head>
    <meta name="referrer" content="origin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="news.css?hyOH5G9HsvyW7PeCwqyj">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="rss">
    <title>Hacker News</title>
  </head>
  <body>
    <center>
      <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
        <tr>
          <td bgcolor="#ff6600">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
              <tr>
                <td style="width:18px;padding-right:4px">
                  <a href="https://news.ycombinator.com">
                    <img src="y18.gif" width="18" height="18" style="border:1px white solid;">
                  </a>
                </td>
                <td style="line-height:12pt; height:10px;">
                  <span class="pagetop">
                    <b class="hnname">
                      <a href="news">Hacker News</a>
                    </b>
                    <a href="newest">new</a> | <a href="front">past</a> | <a href="newcomments">comments</a> | <a href="ask">ask</a> | <a href="show">show</a> | <a href="jobs">jobs</a> | <a href="submit">submit</a>
                  </span>
                </td>
                <td style="text-align:right;padding-right:4px;">
                  <span class="pagetop">
                    <a href="login?goto=news">login</a>
                  </span>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr id="pagespace" title="" style="height:10px"></tr>
        <tr>
          <td>
            <table border="0" cellpadding="0" cellspacing="0" class="itemlist">
              <tr class='athing' id='33179047'>
                <td align="right" valign="top" class="title">
                  <span class="rank">1.</span>
                </td>
                <td valign="top" class="votelinks">
                  <center>
                    <a id='up_33179047' href='vote?id=33179047&amp;how=up&amp;goto=news'>
                      <div class='votearrow' title='upvote'></div>
                    </a>
                  </center>
                </td>
                <td class="title">
                  <span class="titleline">
                    <a href="https://signal.org/blog/sms-removal-android/">Removing SMS support from Signal Android (soon)</a>
                    <span class="sitebit comhead"> ( <a href="from?site=signal.org">
                        <span class="sitestr">signal.org</span>
                      </a>) </span>
                  </span>
                </td>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td class="subtext">
                  <span class="subline">
                    <span class="score" id="score_33179047">163 points</span> by <a href="user?id=Aissen" class="hnuser">Aissen</a>
                    <span class="age" title="2022-10-12T16:08:08">
                      <a href="item?id=33179047">1 hour ago</a>
                    </span>
                    <span id="unv_33179047"></span> | <a href="hide?id=33179047&amp;goto=news">hide</a> | <a href="item?id=33179047">147&nbsp;comments</a>
                  </span>
                </td>
              </tr>
              <tr class="spacer" style="height:5px"></tr>
              <tr class='athing' id='33178301'>
                <td align="right" valign="top" class="title">
                  <span class="rank">2.</span>
                </td>
                <td valign="top" class="votelinks">
                  <center>
                    <a id='up_33178301' href='vote?id=33178301&amp;how=up&amp;goto=news'>
                      <div class='votearrow' title='upvote'></div>
                    </a>
                  </center>
                </td>
                <td class="title">
                  <span class="titleline">
                    <a href="https://mar1d.com/">First-Person Mario</a>
                    <span class="sitebit comhead"> ( <a href="from?site=mar1d.com">
                        <span class="sitestr">mar1d.com</span>
                      </a>) </span>
                  </span>
                </td>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td class="subtext">
                  <span class="subline">
                    <span class="score" id="score_33178301">148 points</span> by <a href="user?id=rendaw" class="hnuser">rendaw</a>
                    <span class="age" title="2022-10-12T15:21:39">
                      <a href="item?id=33178301">1 hour ago</a>
                    </span>
                    <span id="unv_33178301"></span> | <a href="hide?id=33178301&amp;goto=news">hide</a> | <a href="item?id=33178301">51&nbsp;comments</a>
                  </span>
                </td>
              </tr>
              <tr class="spacer" style="height:5px"></tr>
              <tr class='athing' id='33178285'>
                <td align="right" valign="top" class="title">
                  <span class="rank">3.</span>
                </td>
                <td valign="top" class="votelinks">
                  <center>
                    <a id='up_33178285' href='vote?id=33178285&amp;how=up&amp;goto=news'>
                      <div class='votearrow' title='upvote'></div>
                    </a>
                  </center>
                </td>
                <td class="title">
                  <span class="titleline">
                    <a href="https://android-developers.googleblog.com/2022/10/bringing-passkeys-to-android-and-chrome.html">Google Rolling Out Passkey Passwordless Login Support to Android and Chrome</a>
                    <span class="sitebit comhead"> ( <a href="from?site=googleblog.com">
                        <span class="sitestr">googleblog.com</span>
                      </a>) </span>
                  </span>
                </td>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td class="subtext">
                  <span class="subline">
                    <span class="score" id="score_33178285">91 points</span> by <a href="user?id=Heavywater" class="hnuser">Heavywater</a>
                    <span class="age" title="2022-10-12T15:20:57">
                      <a href="item?id=33178285">2 hours ago</a>
                    </span>
                    <span id="unv_33178285"></span> | <a href="hide?id=33178285&amp;goto=news">hide</a> | <a href="item?id=33178285">66&nbsp;comments</a>
                  </span>
                </td>
              </tr>
              <tr class="spacer" style="height:5px"></tr>
              <tr class='athing' id='33177631'>
                <td align="right" valign="top" class="title">
                  <span class="rank">4.</span>
                </td>
                <td valign="top" class="votelinks">
                  <center>
                    <a id='up_33177631' href='vote?id=33177631&amp;how=up&amp;goto=news'>
                      <div class='votearrow' title='upvote'></div>
                    </a>
                  </center>
                </td>
                <td class="title">
                  <span class="titleline">
                    <a href="https://mta.openssl.org/pipermail/openssl-announce/2022-October/000237.html">Withdrawal of OpenSSL 3.0.6 and 1.1.1r</a>
                    <span class="sitebit comhead"> ( <a href="from?site=openssl.org">
                        <span class="sitestr">openssl.org</span>
                      </a>) </span>
                  </span>
                </td>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td class="subtext">
                  <span class="subline">
                    <span class="score" id="score_33177631">71 points</span> by <a href="user?id=TimWolla" class="hnuser">TimWolla</a>
                    <span class="age" title="2022-10-12T14:37:31">
                      <a href="item?id=33177631">2 hours ago</a>
                    </span>
                    <span id="unv_33177631"></span> | <a href="hide?id=33177631&amp;goto=news">hide</a> | <a href="item?id=33177631">7&nbsp;comments</a>
                  </span>
                </td>
              </tr>
              <tr class="spacer" style="height:5px"></tr>
              <tr class='athing' id='33177034'>
                <td align="right" valign="top" class="title">
                  <span class="rank">5.</span>
                </td>
                <td valign="top" class="votelinks">
                  <center>
                    <a id='up_33177034' href='vote?id=33177034&amp;how=up&amp;goto=news'>
                      <div class='votearrow' title='upvote'></div>
                    </a>
                  </center>
                </td>
                <td class="title">
                  <span class="titleline">
                    <a href="https://digiday.com/media/apple-is-quietly-pushing-a-tv-ad-product-with-media-agencies/">Apple is quietly pushing a TV ad product with media agencies</a>
                    <span class="sitebit comhead"> ( <a href="from?site=digiday.com">
                        <span class="sitestr">digiday.com</span>
                      </a>) </span>
                  </span>
                </td>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td class="subtext">
                  <span class="subline">
                    <span class="score" id="score_33177034">189 points</span> by <a href="user?id=ksec" class="hnuser">ksec</a>
                    <span class="age" title="2022-10-12T13:56:59">
                      <a href="item?id=33177034">3 hours ago</a>
                    </span>
                    <span id="unv_33177034"></span> | <a href="hide?id=33177034&amp;goto=news">hide</a> | <a href="item?id=33177034">239&nbsp;comments</a>
                  </span>
                </td>
              </tr>
              <tr class="spacer" style="height:5px"></tr>
              <tr class='athing' id='33177681'>
                <td align="right" valign="top" class="title">
                  <span class="rank">6.</span>
                </td>
                <td valign="top" class="votelinks">
                  <center>
                    <a id='up_33177681' href='vote?id=33177681&amp;how=up&amp;goto=news'>
                      <div class='votearrow' title='upvote'></div>
                    </a>
                  </center>
                </td>
                <td class="title">
                  <span class="titleline">
                    <a href="https://nautil.us/a-new-doorway-to-the-brain-242099/">A New Doorway to the Brain</a>
                    <span class="sitebit comhead"> ( <a href="from?site=nautil.us">
                        <span class="sitestr">nautil.us</span>
                      </a>) </span>
                  </span>
                </td>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td class="subtext">
                  <span class="subline">
                    <span class="score" id="score_33177681">51 points</span> by <a href="user?id=Brajeshwar" class="hnuser">Brajeshwar</a>
                    <span class="age" title="2022-10-12T14:40:25">
                      <a href="item?id=33177681">2 hours ago</a>
                    </span>
                    <span id="unv_33177681"></span> | <a href="hide?id=33177681&amp;goto=news">hide</a> | <a href="item?id=33177681">6&nbsp;comments</a>
                  </span>
                </td>
              </tr>
              <tr class="spacer" style="height:5px"></tr>
              <tr class='athing' id='33179800'>
                <td align="right" valign="top" class="title">
                  <span class="rank">7.</span>
                </td>
                <td></td>
                <td class="title">
                  <span class="titleline">
                    <a href="https://devcycle.com/company/careers" rel="nofollow">DevCycle (YC W14) – Feature Flags and Remote Config Experimentation – Is Hiring</a>
                    <span class="sitebit comhead"> ( <a href="from?site=devcycle.com">
                        <span class="sitestr">devcycle.com</span>
                      </a>) </span>
                  </span>
                </td>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td class="subtext">
                  <span class="age" title="2022-10-12T17:00:04">
                    <a href="item?id=33179800">20 minutes ago</a>
                  </span> | <a href="hide?id=33179800&amp;goto=news">hide</a>
                </td>
              </tr>
              <tr class="spacer" style="height:5px"></tr>
              <tr class='athing' id='33177980'>
                <td align="right" valign="top" class="title">
                  <span class="rank">8.</span>
                </td>
                <td valign="top" class="votelinks">
                  <center>
                    <a id='up_33177980' href='vote?id=33177980&amp;how=up&amp;goto=news'>
                      <div class='votearrow' title='upvote'></div>
                    </a>
                  </center>
                </td>
                <td class="title">
                  <span class="titleline">
                    <a href="https://lawrencecpaulson.github.io/2022/10/12/verifying-distributed-systems-isabelle.html">Verifying Distributed Systems with Isabelle/HOL, by Martin Kleppmann</a>
                    <span class="sitebit comhead"> ( <a href="from?site=lawrencecpaulson.github.io">
                        <span class="sitestr">lawrencecpaulson.github.io</span>
                      </a>) </span>
                  </span>
                </td>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td class="subtext">
                  <span class="subline">
                    <span class="score" id="score_33177980">47 points</span> by <a href="user?id=eatonphil" class="hnuser">eatonphil</a>
                    <span class="age" title="2022-10-12T15:02:09">
                      <a href="item?id=33177980">2 hours ago</a>
                    </span>
                    <span id="unv_33177980"></span> | <a href="hide?id=33177980&amp;goto=news">hide</a> | <a href="item?id=33177980">5&nbsp;comments</a>
                  </span>
                </td>
              </tr>
              <tr class="spacer" style="height:5px"></tr>
              <tr class='athing' id='33176766'>
                <td align="right" valign="top" class="title">
                  <span class="rank">9.</span>
                </td>
                <td valign="top" class="votelinks">
                  <center>
                    <a id='up_33176766' href='vote?id=33176766&amp;how=up&amp;goto=news'>
                      <div class='votearrow' title='upvote'></div>
                    </a>
                  </center>
                </td>
                <td class="title">
                  <span class="titleline">
                    <a href="https://group.vattenfall.com/press-and-media/pressreleases/2022/hybrit-new-research-shows-hydrogen-reduced-iron-has-superior-properties">New research shows hydrogen-reduced iron has superior properties</a>
                    <span class="sitebit comhead"> ( <a href="from?site=vattenfall.com">
                        <span class="sitestr">vattenfall.com</span>
                      </a>) </span>
                  </span>
                </td>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td class="subtext">
                  <span class="subline">
                    <span class="score" id="score_33176766">50 points</span> by <a href="user?id=tda" class="hnuser">tda</a>
                    <span class="age" title="2022-10-12T13:36:45">
                      <a href="item?id=33176766">3 hours ago</a>
                    </span>
                    <span id="unv_33176766"></span> | <a href="hide?id=33176766&amp;goto=news">hide</a> | <a href="item?id=33176766">25&nbsp;comments</a>
                  </span>
                </td>
              </tr>
              <tr class="spacer" style="height:5px"></tr>
              <tr class='athing' id='33172448'>
                <td align="right" valign="top" class="title">
                  <span class="rank">10.</span>
                </td>
                <td valign="top" class="votelinks">
                  <center>
                    <a id='up_33172448' href='vote?id=33172448&amp;how=up&amp;goto=news'>
                      <div class='votearrow' title='upvote'></div>
                    </a>
                  </center>
                </td>
                <td class="title">
                  <span class="titleline">
                    <a href="https://reverbmachine.com/blog/deconstructing-brian-eno-music-for-airports/">How Brian Eno Created Ambient 1: Music for Airports</a>
                    <span class="sitebit comhead"> ( <a href="from?site=reverbmachine.com">
                        <span class="sitestr">reverbmachine.com</span>
                      </a>) </span>
                  </span>
                </td>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td class="subtext">
                  <span class="subline">
                    <span class="score" id="score_33172448">354 points</span> by <a href="user?id=jim-jim-jim" class="hnuser">jim-jim-jim</a>
                    <span class="age" title="2022-10-12T03:28:32">
                      <a href="item?id=33172448">10 hours ago</a>
                    </span>
                    <span id="unv_33172448"></span> | <a href="hide?id=33172448&amp;goto=news">hide</a> | <a href="item?id=33172448">85&nbsp;comments</a>
                  </span>
                </td>
              </tr>
              <tr class="spacer" style="height:5px"></tr>
              <tr class='athing' id='33176928'>
                <td align="right" valign="top" class="title">
                  <span class="rank">11.</span>
                </td>
                <td valign="top" class="votelinks">
                  <center>
                    <a id='up_33176928' href='vote?id=33176928&amp;how=up&amp;goto=news'>
                      <div class='votearrow' title='upvote'></div>
                    </a>
                  </center>
                </td>
                <td class="title">
                  <span class="titleline">
                    <a href="https://gitlab.haskell.org/ghc/ghc/-/issues/22282">GHC 9.4.2 regresses being able to do math on aarch64</a>
                    <span class="sitebit comhead"> ( <a href="from?site=haskell.org">
                        <span class="sitestr">haskell.org</span>
                      </a>) </span>
                  </span>
                </td>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td class="subtext">
                  <span class="subline">
                    <span class="score" id="score_33176928">48 points</span> by <a href="user?id=nequo" class="hnuser">nequo</a>
                    <span class="age" title="2022-10-12T13:48:44">
                      <a href="item?id=33176928">3 hours ago</a>
                    </span>
                    <span id="unv_33176928"></span> | <a href="hide?id=33176928&amp;goto=news">hide</a> | <a href="item?id=33176928">5&nbsp;comments</a>
                  </span>
                </td>
              </tr>
              <tr class="spacer" style="height:5px"></tr>
              <tr class='athing' id='33175890'>
                <td align="right" valign="top" class="title">
                  <span class="rank">12.</span>
                </td>
                <td valign="top" class="votelinks">
                  <center>
                    <a id='up_33175890' href='vote?id=33175890&amp;how=up&amp;goto=news'>
                      <div class='votearrow' title='upvote'></div>
                    </a>
                  </center>
                </td>
                <td class="title">
                  <span class="titleline">
                    <a href="https://www.bbc.com/future/article/20221011-how-space-weather-causes-computer-errors">The computer errors from outer space</a>
                    <span class="sitebit comhead"> ( <a href="from?site=bbc.com">
                        <span class="sitestr">bbc.com</span>
                      </a>) </span>
                  </span>
                </td>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td class="subtext">
                  <span class="subline">
                    <span class="score" id="score_33175890">52 points</span> by <a href="user?id=throw0101c" class="hnuser">throw0101c</a>
                    <span class="age" title="2022-10-12T12:23:43">
                      <a href="item?id=33175890">4 hours ago</a>
                    </span>
                    <span id="unv_33175890"></span> | <a href="hide?id=33175890&amp;goto=news">hide</a> | <a href="item?id=33175890">23&nbsp;comments</a>
                  </span>
                </td>
              </tr>
              <tr class="spacer" style="height:5px"></tr>
              <tr class='athing' id='33173443'>
                <td align="right" valign="top" class="title">
                  <span class="rank">13.</span>
                </td>
                <td valign="top" class="votelinks">
                  <center>
                    <a id='up_33173443' href='vote?id=33173443&amp;how=up&amp;goto=news'>
                      <div class='votearrow' title='upvote'></div>
                    </a>
                  </center>
                </td>
                <td class="title">
                  <span class="titleline">
                    <a href="https://nhigham.com/2022/10/11/seven-sins-of-numerical-linear-algebra/">Seven sins of numerical linear algebra</a>
                    <span class="sitebit comhead"> ( <a href="from?site=nhigham.com">
                        <span class="sitestr">nhigham.com</span>
                      </a>) </span>
                  </span>
                </td>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td class="subtext">
                  <span class="subline">
                    <span class="score" id="score_33173443">226 points</span> by <a href="user?id=jeffreyrogers" class="hnuser">jeffreyrogers</a>
                    <span class="age" title="2022-10-12T06:04:21">
                      <a href="item?id=33173443">11 hours ago</a>
                    </span>
                    <span id="unv_33173443"></span> | <a href="hide?id=33173443&amp;goto=news">hide</a> | <a href="item?id=33173443">42&nbsp;comments</a>
                  </span>
                </td>
              </tr>
              <tr class="spacer" style="height:5px"></tr>
              <tr class='athing' id='33136184'>
                <td align="right" valign="top" class="title">
                  <span class="rank">14.</span>
                </td>
                <td valign="top" class="votelinks">
                  <center>
                    <a id='up_33136184' href='vote?id=33136184&amp;how=up&amp;goto=news'>
                      <div class='votearrow' title='upvote'></div>
                    </a>
                  </center>
                </td>
                <td class="title">
                  <span class="titleline">
                    <a href="https://www.prospectmagazine.co.uk/arts-and-books/franz-kafkas-dissenting-bodies">Franz Kafka’s Dissenting Bodies</a>
                    <span class="sitebit comhead"> ( <a href="from?site=prospectmagazine.co.uk">
                        <span class="sitestr">prospectmagazine.co.uk</span>
                      </a>) </span>
                  </span>
                </td>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td class="subtext">
                  <span class="subline">
                    <span class="score" id="score_33136184">10 points</span> by <a href="user?id=prismatic" class="hnuser">prismatic</a>
                    <span class="age" title="2022-10-08T21:27:44">
                      <a href="item?id=33136184">2 hours ago</a>
                    </span>
                    <span id="unv_33136184"></span> | <a href="hide?id=33136184&amp;goto=news">hide</a> | <a href="item?id=33136184">1&nbsp;comment</a>
                  </span>
                </td>
              </tr>
              <tr class="spacer" style="height:5px"></tr>
              <tr class='athing' id='33144910'>
                <td align="right" valign="top" class="title">
                  <span class="rank">15.</span>
                </td>
                <td valign="top" class="votelinks">
                  <center>
                    <a id='up_33144910' href='vote?id=33144910&amp;how=up&amp;goto=news'>
                      <div class='votearrow' title='upvote'></div>
                    </a>
                  </center>
                </td>
                <td class="title">
                  <span class="titleline">
                    <a href="https://en.wikipedia.org/wiki/Starlight_(interstellar_probe)">Starlight interstellar probe</a>
                    <span class="sitebit comhead"> ( <a href="from?site=wikipedia.org">
                        <span class="sitestr">wikipedia.org</span>
                      </a>) </span>
                  </span>
                </td>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td class="subtext">
                  <span class="subline">
                    <span class="score" id="score_33144910">60 points</span> by <a href="user?id=Hooke" class="hnuser">Hooke</a>
                    <span class="age" title="2022-10-09T20:20:45">
                      <a href="item?id=33144910">7 hours ago</a>
                    </span>
                    <span id="unv_33144910"></span> | <a href="hide?id=33144910&amp;goto=news">hide</a> | <a href="item?id=33144910">91&nbsp;comments</a>
                  </span>
                </td>
              </tr>
              <tr class="spacer" style="height:5px"></tr>
              <tr class='athing' id='33179629'>
                <td align="right" valign="top" class="title">
                  <span class="rank">16.</span>
                </td>
                <td valign="top" class="votelinks">
                  <center>
                    <a id='up_33179629' href='vote?id=33179629&amp;how=up&amp;goto=news'>
                      <div class='votearrow' title='upvote'></div>
                    </a>
                  </center>
                </td>
                <td class="title">
                  <span class="titleline">
                    <a href="https://basicappleguy.com/basicappleblog/lesserknownapplewatchworkoutsi" rel="nofollow">Lesser known Apple Watch workouts</a>
                    <span class="sitebit comhead"> ( <a href="from?site=basicappleguy.com">
                        <span class="sitestr">basicappleguy.com</span>
                      </a>) </span>
                  </span>
                </td>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td class="subtext">
                  <span class="subline">
                    <span class="score" id="score_33179629">3 points</span> by <a href="user?id=bookofjoe" class="hnuser">bookofjoe</a>
                    <span class="age" title="2022-10-12T16:49:03">
                      <a href="item?id=33179629">31 minutes ago</a>
                    </span>
                    <span id="unv_33179629"></span> | <a href="hide?id=33179629&amp;goto=news">hide</a> | <a href="item?id=33179629">discuss</a>
                  </span>
                </td>
              </tr>
              <tr class="spacer" style="height:5px"></tr>
              <tr class='athing' id='33175373'>
                <td align="right" valign="top" class="title">
                  <span class="rank">17.</span>
                </td>
                <td valign="top" class="votelinks">
                  <center>
                    <a id='up_33175373' href='vote?id=33175373&amp;how=up&amp;goto=news'>
                      <div class='votearrow' title='upvote'></div>
                    </a>
                  </center>
                </td>
                <td class="title">
                  <span class="titleline">
                    <a href="https://blog.jetbrains.com/fleet/2022/10/introducing-the-fleet-public-preview/">JetBrains invites developers to join the Fleet Public Preview Program</a>
                    <span class="sitebit comhead"> ( <a href="from?site=jetbrains.com">
                        <span class="sitestr">jetbrains.com</span>
                      </a>) </span>
                  </span>
                </td>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td class="subtext">
                  <span class="subline">
                    <span class="score" id="score_33175373">263 points</span> by <a href="user?id=topka" class="hnuser">topka</a>
                    <span class="age" title="2022-10-12T11:24:08">
                      <a href="item?id=33175373">5 hours ago</a>
                    </span>
                    <span id="unv_33175373"></span> | <a href="hide?id=33175373&amp;goto=news">hide</a> | <a href="item?id=33175373">222&nbsp;comments</a>
                  </span>
                </td>
              </tr>
              <tr class="spacer" style="height:5px"></tr>
              <tr class='athing' id='33177490'>
                <td align="right" valign="top" class="title">
                  <span class="rank">18.</span>
                </td>
                <td valign="top" class="votelinks">
                  <center>
                    <a id='up_33177490' href='vote?id=33177490&amp;how=up&amp;goto=news'>
                      <div class='votearrow' title='upvote'></div>
                    </a>
                  </center>
                </td>
                <td class="title">
                  <span class="titleline">
                    <a href="https://www.nytimes.com/2022/10/12/us/fbi-aretha-franklin-surveillance.html">FBI Monitored Aretha Franklin for Years, File Shows</a>
                    <span class="sitebit comhead"> ( <a href="from?site=nytimes.com">
                        <span class="sitestr">nytimes.com</span>
                      </a>) </span>
                  </span>
                </td>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td class="subtext">
                  <span class="subline">
                    <span class="score" id="score_33177490">136 points</span> by <a href="user?id=mikhael" class="hnuser">mikhael</a>
                    <span class="age" title="2022-10-12T14:28:31">
                      <a href="item?id=33177490">2 hours ago</a>
                    </span>
                    <span id="unv_33177490"></span> | <a href="hide?id=33177490&amp;goto=news">hide</a> | <a href="item?id=33177490">163&nbsp;comments</a>
                  </span>
                </td>
              </tr>
              <tr class="spacer" style="height:5px"></tr>
              <tr class='athing' id='33134463'>
                <td align="right" valign="top" class="title">
                  <span class="rank">19.</span>
                </td>
                <td valign="top" class="votelinks">
                  <center>
                    <a id='up_33134463' href='vote?id=33134463&amp;how=up&amp;goto=news'>
                      <div class='votearrow' title='upvote'></div>
                    </a>
                  </center>
                </td>
                <td class="title">
                  <span class="titleline">
                    <a href="https://en.wikipedia.org/wiki/IPTF14hls">A supernova star that erupted continuously for about 1,000 days</a>
                    <span class="sitebit comhead"> ( <a href="from?site=wikipedia.org">
                        <span class="sitestr">wikipedia.org</span>
                      </a>) </span>
                  </span>
                </td>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td class="subtext">
                  <span class="subline">
                    <span class="score" id="score_33134463">47 points</span> by <a href="user?id=belter" class="hnuser">belter</a>
                    <span class="age" title="2022-10-08T17:58:59">
                      <a href="item?id=33134463">6 hours ago</a>
                    </span>
                    <span id="unv_33134463"></span> | <a href="hide?id=33134463&amp;goto=news">hide</a> | <a href="item?id=33134463">6&nbsp;comments</a>
                  </span>
                </td>
              </tr>
              <tr class="spacer" style="height:5px"></tr>
              <tr class='athing' id='33177705'>
                <td align="right" valign="top" class="title">
                  <span class="rank">20.</span>
                </td>
                <td valign="top" class="votelinks">
                  <center>
                    <a id='up_33177705' href='vote?id=33177705&amp;how=up&amp;goto=news'>
                      <div class='votearrow' title='upvote'></div>
                    </a>
                  </center>
                </td>
                <td class="title">
                  <span class="titleline">
                    <a href="https://www.hello.coop/pages/approach.html">Show HN: Hellō, a cooperative approach for online identity</a>
                    <span class="sitebit comhead"> ( <a href="from?site=hello.coop">
                        <span class="sitestr">hello.coop</span>
                      </a>) </span>
                  </span>
                </td>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td class="subtext">
                  <span class="subline">
                    <span class="score" id="score_33177705">17 points</span> by <a href="user?id=dickhardt" class="hnuser">dickhardt</a>
                    <span class="age" title="2022-10-12T14:42:21">
                      <a href="item?id=33177705">2 hours ago</a>
                    </span>
                    <span id="unv_33177705"></span> | <a href="hide?id=33177705&amp;goto=news">hide</a> | <a href="item?id=33177705">10&nbsp;comments</a>
                  </span>
                </td>
              </tr>
              <tr class="spacer" style="height:5px"></tr>
              <tr class='athing' id='33175439'>
                <td align="right" valign="top" class="title">
                  <span class="rank">21.</span>
                </td>
                <td valign="top" class="votelinks">
                  <center>
                    <a id='up_33175439' href='vote?id=33175439&amp;how=up&amp;goto=news'>
                      <div class='votearrow' title='upvote'></div>
                    </a>
                  </center>
                </td>
                <td class="title">
                  <span class="titleline">
                    <a href="https://stratechery.com/2022/meta-meets-microsoft/">Meta Meets Microsoft</a>
                    <span class="sitebit comhead"> ( <a href="from?site=stratechery.com">
                        <span class="sitestr">stratechery.com</span>
                      </a>) </span>
                  </span>
                </td>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td class="subtext">
                  <span class="subline">
                    <span class="score" id="score_33175439">144 points</span> by <a href="user?id=ingve" class="hnuser">ingve</a>
                    <span class="age" title="2022-10-12T11:32:15">
                      <a href="item?id=33175439">5 hours ago</a>
                    </span>
                    <span id="unv_33175439"></span> | <a href="hide?id=33175439&amp;goto=news">hide</a> | <a href="item?id=33175439">249&nbsp;comments</a>
                  </span>
                </td>
              </tr>
              <tr class="spacer" style="height:5px"></tr>
              <tr class='athing' id='33177101'>
                <td align="right" valign="top" class="title">
                  <span class="rank">22.</span>
                </td>
                <td valign="top" class="votelinks">
                  <center>
                    <a id='up_33177101' href='vote?id=33177101&amp;how=up&amp;goto=news'>
                      <div class='votearrow' title='upvote'></div>
                    </a>
                  </center>
                </td>
                <td class="title">
                  <span class="titleline">
                    <a href="https://www.justworktogether.com/blog/this-is-what-it-feels-like">What it feels like to be bullied out of a job you love</a>
                    <span class="sitebit comhead"> ( <a href="from?site=justworktogether.com">
                        <span class="sitestr">justworktogether.com</span>
                      </a>) </span>
                  </span>
                </td>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td class="subtext">
                  <span class="subline">
                    <span class="score" id="score_33177101">150 points</span> by <a href="user?id=mooreds" class="hnuser">mooreds</a>
                    <span class="age" title="2022-10-12T14:01:20">
                      <a href="item?id=33177101">3 hours ago</a>
                    </span>
                    <span id="unv_33177101"></span> | <a href="hide?id=33177101&amp;goto=news">hide</a> | <a href="item?id=33177101">139&nbsp;comments</a>
                  </span>
                </td>
              </tr>
              <tr class="spacer" style="height:5px"></tr>
              <tr class='athing' id='33177629'>
                <td align="right" valign="top" class="title">
                  <span class="rank">23.</span>
                </td>
                <td valign="top" class="votelinks">
                  <center>
                    <a id='up_33177629' href='vote?id=33177629&amp;how=up&amp;goto=news'>
                      <div class='votearrow' title='upvote'></div>
                    </a>
                  </center>
                </td>
                <td class="title">
                  <span class="titleline">
                    <a href="https://twitter.com/mysk_co/status/1579997801047822336">iOS allows DNS request to escape the VPN tunnel</a>
                    <span class="sitebit comhead"> ( <a href="from?site=twitter.com/mysk_co">
                        <span class="sitestr">twitter.com/mysk_co</span>
                      </a>) </span>
                  </span>
                </td>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td class="subtext">
                  <span class="subline">
                    <span class="score" id="score_33177629">99 points</span> by <a href="user?id=nb_key" class="hnuser">nb_key</a>
                    <span class="age" title="2022-10-12T14:37:16">
                      <a href="item?id=33177629">2 hours ago</a>
                    </span>
                    <span id="unv_33177629"></span> | <a href="hide?id=33177629&amp;goto=news">hide</a> | <a href="item?id=33177629">35&nbsp;comments</a>
                  </span>
                </td>
              </tr>
              <tr class="spacer" style="height:5px"></tr>
              <tr class='athing' id='33137722'>
                <td align="right" valign="top" class="title">
                  <span class="rank">24.</span>
                </td>
                <td valign="top" class="votelinks">
                  <center>
                    <a id='up_33137722' href='vote?id=33137722&amp;how=up&amp;goto=news'>
                      <div class='votearrow' title='upvote'></div>
                    </a>
                  </center>
                </td>
                <td class="title">
                  <span class="titleline">
                    <a href="https://eleganthack.com/designs-unsexy-middle-bits/">Design’s Unsexy Middle Bits (2020)</a>
                    <span class="sitebit comhead"> ( <a href="from?site=eleganthack.com">
                        <span class="sitestr">eleganthack.com</span>
                      </a>) </span>
                  </span>
                </td>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td class="subtext">
                  <span class="subline">
                    <span class="score" id="score_33137722">21 points</span> by <a href="user?id=mooreds" class="hnuser">mooreds</a>
                    <span class="age" title="2022-10-09T02:07:14">
                      <a href="item?id=33137722">5 hours ago</a>
                    </span>
                    <span id="unv_33137722"></span> | <a href="hide?id=33137722&amp;goto=news">hide</a> | <a href="item?id=33137722">5&nbsp;comments</a>
                  </span>
                </td>
              </tr>
              <tr class="spacer" style="height:5px"></tr>
              <tr class='athing' id='33134663'>
                <td align="right" valign="top" class="title">
                  <span class="rank">25.</span>
                </td>
                <td valign="top" class="votelinks">
                  <center>
                    <a id='up_33134663' href='vote?id=33134663&amp;how=up&amp;goto=news'>
                      <div class='votearrow' title='upvote'></div>
                    </a>
                  </center>
                </td>
                <td class="title">
                  <span class="titleline">
                    <a href="https://articles.adsabs.harvard.edu/pdf/1974A%26AS...15..497M">Forth: A New Way to Program a Mini Computer (1974)</a>
                    <span class="sitebit comhead"> ( <a href="from?site=adsabs.harvard.edu">
                        <span class="sitestr">adsabs.harvard.edu</span>
                      </a>) </span>
                  </span>
                </td>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td class="subtext">
                  <span class="subline">
                    <span class="score" id="score_33134663">81 points</span> by <a href="user?id=Someone" class="hnuser">Someone</a>
                    <span class="age" title="2022-10-08T18:23:55">
                      <a href="item?id=33134663">10 hours ago</a>
                    </span>
                    <span id="unv_33134663"></span> | <a href="hide?id=33134663&amp;goto=news">hide</a> | <a href="item?id=33134663">43&nbsp;comments</a>
                  </span>
                </td>
              </tr>
              <tr class="spacer" style="height:5px"></tr>
              <tr class='athing' id='33171651'>
                <td align="right" valign="top" class="title">
                  <span class="rank">26.</span>
                </td>
                <td valign="top" class="votelinks">
                  <center>
                    <a id='up_33171651' href='vote?id=33171651&amp;how=up&amp;goto=news'>
                      <div class='votearrow' title='upvote'></div>
                    </a>
                  </center>
                </td>
                <td class="title">
                  <span class="titleline">
                    <a href="https://ourworldindata.org/plastic-waste-trade">Ocean plastics: How much do rich countries contribute by shipping their waste?</a>
                    <span class="sitebit comhead"> ( <a href="from?site=ourworldindata.org">
                        <span class="sitestr">ourworldindata.org</span>
                      </a>) </span>
                  </span>
                </td>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td class="subtext">
                  <span class="subline">
                    <span class="score" id="score_33171651">127 points</span> by <a href="user?id=animal_spirits" class="hnuser">animal_spirits</a>
                    <span class="age" title="2022-10-12T01:33:27">
                      <a href="item?id=33171651">10 hours ago</a>
                    </span>
                    <span id="unv_33171651"></span> | <a href="hide?id=33171651&amp;goto=news">hide</a> | <a href="item?id=33171651">122&nbsp;comments</a>
                  </span>
                </td>
              </tr>
              <tr class="spacer" style="height:5px"></tr>
              <tr class='athing' id='33146017'>
                <td align="right" valign="top" class="title">
                  <span class="rank">27.</span>
                </td>
                <td valign="top" class="votelinks">
                  <center>
                    <a id='up_33146017' href='vote?id=33146017&amp;how=up&amp;goto=news'>
                      <div class='votearrow' title='upvote'></div>
                    </a>
                  </center>
                </td>
                <td class="title">
                  <span class="titleline">
                    <a href="https://www.cbsnews.com/news/an-australian-startup-is-growing-water-for-drought-parched-california/">An Australian startup is “growing” water for drought-parched California</a>
                    <span class="sitebit comhead"> ( <a href="from?site=cbsnews.com">
                        <span class="sitestr">cbsnews.com</span>
                      </a>) </span>
                  </span>
                </td>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td class="subtext">
                  <span class="subline">
                    <span class="score" id="score_33146017">30 points</span> by <a href="user?id=prostoalex" class="hnuser">prostoalex</a>
                    <span class="age" title="2022-10-09T22:41:12">
                      <a href="item?id=33146017">4 hours ago</a>
                    </span>
                    <span id="unv_33146017"></span> | <a href="hide?id=33146017&amp;goto=news">hide</a> | <a href="item?id=33146017">26&nbsp;comments</a>
                  </span>
                </td>
              </tr>
              <tr class="spacer" style="height:5px"></tr>
              <tr class='athing' id='33174046'>
                <td align="right" valign="top" class="title">
                  <span class="rank">28.</span>
                </td>
                <td valign="top" class="votelinks">
                  <center>
                    <a id='up_33174046' href='vote?id=33174046&amp;how=up&amp;goto=news'>
                      <div class='votearrow' title='upvote'></div>
                    </a>
                  </center>
                </td>
                <td class="title">
                  <span class="titleline">
                    <a href="https://www.datadoghq.com/state-of-aws-security/">The State of AWS Security</a>
                    <span class="sitebit comhead"> ( <a href="from?site=datadoghq.com">
                        <span class="sitestr">datadoghq.com</span>
                      </a>) </span>
                  </span>
                </td>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td class="subtext">
                  <span class="subline">
                    <span class="score" id="score_33174046">103 points</span> by <a href="user?id=belter" class="hnuser">belter</a>
                    <span class="age" title="2022-10-12T07:45:35">
                      <a href="item?id=33174046">9 hours ago</a>
                    </span>
                    <span id="unv_33174046"></span> | <a href="hide?id=33174046&amp;goto=news">hide</a> | <a href="item?id=33174046">53&nbsp;comments</a>
                  </span>
                </td>
              </tr>
              <tr class="spacer" style="height:5px"></tr>
              <tr class='athing' id='33145297'>
                <td align="right" valign="top" class="title">
                  <span class="rank">29.</span>
                </td>
                <td valign="top" class="votelinks">
                  <center>
                    <a id='up_33145297' href='vote?id=33145297&amp;how=up&amp;goto=news'>
                      <div class='votearrow' title='upvote'></div>
                    </a>
                  </center>
                </td>
                <td class="title">
                  <span class="titleline">
                    <a href="https://www.theguardian.com/science/2022/oct/02/egypt-saqqara-ptah-em-wia-archaeologists-discover-sarcophagus-cairo">Archaeologists hail ‘dream discovery’ as sarcophagus is unearthed near Cairo</a>
                    <span class="sitebit comhead"> ( <a href="from?site=theguardian.com">
                        <span class="sitestr">theguardian.com</span>
                      </a>) </span>
                  </span>
                </td>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td class="subtext">
                  <span class="subline">
                    <span class="score" id="score_33145297">93 points</span> by <a href="user?id=diodorus" class="hnuser">diodorus</a>
                    <span class="age" title="2022-10-09T21:00:24">
                      <a href="item?id=33145297">13 hours ago</a>
                    </span>
                    <span id="unv_33145297"></span> | <a href="hide?id=33145297&amp;goto=news">hide</a> | <a href="item?id=33145297">62&nbsp;comments</a>
                  </span>
                </td>
              </tr>
              <tr class="spacer" style="height:5px"></tr>
              <tr class='athing' id='33173364'>
                <td align="right" valign="top" class="title">
                  <span class="rank">30.</span>
                </td>
                <td valign="top" class="votelinks">
                  <center>
                    <a id='up_33173364' href='vote?id=33173364&amp;how=up&amp;goto=news'>
                      <div class='votearrow' title='upvote'></div>
                    </a>
                  </center>
                </td>
                <td class="title">
                  <span class="titleline">
                    <a href="https://applied-langua.ge/software-and-anarchy.pdf">Software and Anarchy (2021) [pdf]</a>
                    <span class="sitebit comhead"> ( <a href="from?site=applied-langua.ge">
                        <span class="sitestr">applied-langua.ge</span>
                      </a>) </span>
                  </span>
                </td>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td class="subtext">
                  <span class="subline">
                    <span class="score" id="score_33173364">76 points</span> by <a href="user?id=pabs3" class="hnuser">pabs3</a>
                    <span class="age" title="2022-10-12T05:51:25">
                      <a href="item?id=33173364">11 hours ago</a>
                    </span>
                    <span id="unv_33173364"></span> | <a href="hide?id=33173364&amp;goto=news">hide</a> | <a href="item?id=33173364">31&nbsp;comments</a>
                  </span>
                </td>
              </tr>
              <tr class="spacer" style="height:5px"></tr>
              <tr class="morespace" style="height:10px"></tr>
              <tr>
                <td colspan="2"></td>
                <td class='title'>
                  <a href='news?p=2' class='morelink' rel='next'>More</a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <img src="s.gif" height="10" width="0">
            <table width="100%" cellspacing="0" cellpadding="1">
              <tr>
                <td bgcolor="#ff6600"></td>
              </tr>
            </table>
            <br>
            <center>
              <a href="https://www.ycombinator.com/apply/"> Applications are open for YC Winter 2023 </a>
            </center>
            <br>
            <center>
              <span class="yclinks">
                <a href="newsguidelines.html">Guidelines</a> | <a href="newsfaq.html">FAQ</a> | <a href="lists">Lists</a> | <a href="https://github.com/HackerNews/API">API</a> | <a href="security.html">Security</a> | <a href="http://www.ycombinator.com/legal/">Legal</a> | <a href="http://www.ycombinator.com/apply/">Apply to YC</a> | <a href="mailto:hn@ycombinator.com">Contact</a>
              </span>
              <br>
              <br>
              <form method="get" action="//hn.algolia.com/">Search: <input type="text" name="q" value="" size="17" autocorrect="off" spellcheck="false" autocapitalize="off" autocomplete="false">
              </form>
            </center>
          </td>
        </tr>
        
      </table>
    </center>
  </body>
  <script type='text/javascript' src='hn.js?hyOH5G9HsvyW7PeCwqyj'></script>
</html>